ul li#wp-admin-bar-ionos_maintenance_mode{
  padding-top: 6px;

  a,
  &:hover a {
    background-color: rgb(255, 170, 0) !important;
    color: rgb(0, 27, 65) !important;
    height: 20px !important;
    line-height: 20px !important;
    border-radius: 2px;
  }
}

.ionos-maintenance-only {
  display: none;

  body.ionos-maintenance-mode & {
    display: block;
  }
}
