@import 'https://ce1.uicdn.net/exos/framework/3.0/exos.min.css';

.extendify-help-center,
#adminmenumain,
#wpadminbar,
#wpfooter,
#wpbody-content > .update-nag,
#wpbody-content > .notice {
  display: none !important;
}

.wrapper {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 99999;
  overflow-y: auto;
  /* background-color: white; */
}

.page-section {
  padding: 0;
}

.header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 80px;
  padding-left: 40px;
  z-index: +1;
  /* background-color: white; */
}

.logo {
  vertical-align: top;
  height: 36px;
}

.onboardingpage {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  box-sizing: border-box;
  width: 700px;
  height: auto;

  align-self: center;
  justify-self: center;
}

.onboardingpage > .headline {
  font-size: 2em;
  line-height: 1em;
  text-align: center;
  margin-bottom: 30px;
}

.container {
  margin: auto 0;
}

.options {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.option {
  position: relative;
  max-width: 280px;
  min-width: 280px;
  height: auto;
  padding: 15px;
  background-color: white;
  border-radius: 10px;
}

.option img {
  width: 70px;
  margin-bottom: 30px;
}

.card {
  margin-bottom: 0;
}

.button {
  margin-top: 15px;
}

.info-text {
  position: absolute;
  top: -4%;
  padding: 3px;
  background-color: #2271b1;
  color: white;
  font-weight: 500;
  border-radius: 4px;
}

.checkbox-option {
  display: flex;
  align-items: center;
  margin: 10px 0 0 60px;
  width: 230px;
  font-size: 11px;
}

.checkbox-option a {
  color: inherit;
}

@media only screen and (max-width: 750px) {
  .header {
    margin-top: 20px;
  }

  .onboardingpage > .headline {
    font-size: 1.5em;
  }

  .onboardingpage {
    align-items: center;
    width: 100%;
    padding: 90px 0 20px 0;
  }

  .container {
    margin-top: 10px;
  }

  .options {
    margin-top: 20px;
    flex-direction: column;
  }

  .option {
    margin: 0;
  }

  .checkbox-option {
    margin-left: 30px;

  }
}
