#
# this is a template file for `.env.local` file.
# use this file to customize the environment injected into the scripts
# rename this file to `.env.local` to enable it
#
# will be sourced into all `./scripts/*.sh` command scripts
#
# `.env.local` files can even be placed in any su package directory (example: `./packages/wp-plugin/foo/.env.local`)
#

# enable automatic linting before 'git push'
# LINT_ON_PUSH=true

# additional options attached to wp-env related commands
# default to wp-env debug mode
# WP_ENV_START_OPTS='--debug'

# enable JS/CSS transpilation in development mode
# NODE_ENV=development

# automatically create wp-plugin localizations for the given languages
# value is a space separated list of locales
# (if not set or empty, no localizations will be created)
# WP_CLI_I18N_LOCALES='en_US de_DE'

# used for docker image metadata generation
# VENDOR='IONOS Group'

# set BUILD_UP_TO_DATE=1 will disable automatic (re)building the sources on start / test
# BUILD_UP_TO_DATE=1

# enable google chat release notifications (see `./.github/workflows/release.yaml` and `./scripts/release.sh`)
# This secret should point to the webhook for the desired google chat room.
# You can create a (private) webhook for testing by following the instructions at https://developers.google.com/chat/how-tos/webhooks
# GCHAT_RELEASE_ANNOUNCEMENTS_WEBHOOK="<google-chat-release-chatroom>"

# enable google chat pull request notifications (see `./.github/workflows/gchat-notify-pull-request.yaml`)
# This secret should point to the webhook for the desired google chat room.
# You can create a (private) webhook for testing by following the instructions at https://developers.google.com/chat/how-tos/webhooks
# GCHAT_PR_ANNOUNCEMENTS_WEBHOOK="<google-chat-pr-chatroom>"
