node_modules
/.pnpm-store
/wp-env-home
/packages/*/*/node_modules
/packages/*/*/build
/packages/*/*/dist
/packages/*/*/languages/*.json
/packages/*/*/languages/*.mo
/packages/*/*/languages/*.php
/.vscode/settings.json
/.vscode/launch.json
/.secrets
.env.local
/bin/act
/.wp-env.json
/.wp-env.override.json
/bin/act
build-info
packages/*/*/webpack.config.js
/build
*storybook.log
