node_modules
/.pnpm-store
/wp-env-home
/packages/*/*/*/build
/packages/*/*/dist
/packages/*/*/*/languages/*.json
/packages/*/*/*/languages/*.mo
/packages/*/*/*/languages/*.php
/.vscode/settings.json
/.vscode/launch.json
/.secrets
.env.local
/bin/act
/.wp-env.json
/.wp-env.override.json
/bin/
build-info
build-info
packages/*/*/webpack.config.js
/build
/build
*storybook.log
/playwright/.cache
/playwright/storybook/.*
/playwright/e2e/.*
/phpunit/vendor/
/tmp
/wp-playground-blueprint.json
/wp-playground-blueprint.local.json
.DS_Store
.go-waas.env
mcp.log
.gemini/skills
packages/docker/*/vendor