# see https://pnpm.io/npmrc
save-exact=true
# to enable pre/post-[mypackage-script] hooks
enable-pre-post-scripts=true
# >=20.6.0 supports --env option (we prefer > 20.17.0)
use-node-version=22.18.0
# auto-install-peers=true
# strict-peer-dependencies=false
# disable PNPM update notification
update-notifier=false
prefer-workspace-packages=true
# disable echoing npm script commands
loglevel=warn
# dont use global pnpm-store to prevent bloating your hard disk
# bonus : the local store is reused by the gitlog-per-package docker image
store-dir=.pnpm-store
# always use bash shell
script-shell=/bin/bash
# if this is enabled, locally available packages are linked to node_modules instead of being downloaded from the registry.
link-workspace-packages=true
# dictates how pnpm add decides whether or not to include the workspace: prefix and whether or not the version will be specified.
# Always include the workspace: prefix but not the specific version.
save-workspace-protocol=rolling
