#
# this is a template file for the `.secrets` file.
# use this file to customize the environment injected into the scripts
# rename this file to `.secrets` to enable it
#
# will be sourced into all `./scripts/*.sh` command scripts
#
# `.secrets` files can even be placed in any su package directory (example: `./packages/wp-plugin/foo/.secrets`)
#

# MY_SECRET_SERVICE_TOKEN='bar'
