#
# this is a template file for the `.secrets` file.
# use this file to customize the environment injected into the scripts
# rename this file to `.secrets` to enable it
#
# will be sourced into all `./scripts/*.sh` command scripts
#
# `.secrets` files can even be placed in any su package directory (example: `./packages/wp-plugin/foo/.secrets`)
#

# provide (classic!) github token for local workflow dvelopment or releaasing from local machine
# required github permissions : delete:packages, project, read:org, repo, workflow, write:packages
# GITHUB_TOKEN='my github secret'
# GitHub CLI (called 'gh') expects the token to be in the GH_TOKEN
# GH_TOKEN="$GITHUB_TOKEN"

#
# (optional) if given lint-fix will autofill empty translations
#
# DEEPL_API_KEY='your-key-goes-here'
