@import 'https://ce1.uicdn.net/exos/framework/3.0/exos.min.css';

.with-issues-only, .with-issues-only-flex{
  display: none;
}
.without-issues-only{
  display: block;
}

main{
  scrollbar-gutter: stable;

  &.issues-found{
    .may-have-issue-dot{
      position: relative;
      &::after{
        content: '';
        display: inline-block;
        width: 0.6em;
        height: 0.6em;
        border-radius: 50%;
        background: #cc1818;
        position: relative;
        top: -0.5em;
        left: 0.2em;
      }
    }
    .with-issues-only{
      display: block;
    }
    .with-issues-only-flex{
      display: flex;
    }
    .without-issues-only{
      display: none;
    }
  }
}

@media (max-width: 666px) {
  main{
    margin: 0 20px;
  }
}

.color--success{
  color: var(--success-text-color, #096b35);
}

.grid-col:empty{
  display: none !important;
}

.sheet__section{
  border-bottom: 1px solid #DBE2E8;
  &:last-child{
    border-bottom: none;
  }
}

.ionos-tab{
  display: none;

  &.active{
    display: block;
  }
}

.ionos-essentials-popup{
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(255, 255, 255, 0.95);
  border: 0;
  padding: 0;

  .dialog__content{
    display: flex;
    justify-content: center;
    margin-top: 10%;
    height: 100%;
  }

  .popup-card{
    flex-wrap: wrap;
    width: 90%;
    max-width: 800px;
    height: fit-content;
    display: flex;
    border: 2px solid black;
  }

  @media (max-width: 666px) {
    .popup-card{
      height: 600px;;
      flex-wrap: nowrap;
    }
  }
}

.banner_wrapper{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  .content {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.ionos_next_best_actions{
  background: white;

  .card{
    background: rgb(244, 247, 250);
  }
  & > *:nth-child(n+8) {
    display: none;
  }

  .ionos_next_best_actions__section{
    padding-bottom: 0;
  }

  .nba-card{
    .card__section{
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
    }
  }

  .ionos_nba_dismissed{
    transform: scale(0.7);
    opacity: 0;
    transition: all 0.75s ease-in-out;
  }
}

.ionos_vulnerability{
  container-type: inline-size !important;
  container: ionos_vulnerability;
  background-color: #edfaef;

  .ionos_vulnerability__content{
    flex-direction: column;
    justify-content: space-between;
    background-image: url('assets/security/none.svg');
    background-repeat: no-repeat;
    background-position: top right;
    gap: 18px;
  }

  .bubble{
    background-color: #4ab866;
    color: #000;
    border-radius: 50%;
    padding: 0.2em 0.5em;
    font-size: 0.8em;
    margin-right: 0.5em;
  }

  /* Respect the order of this definition, as high overwrites medium */
  &.medium{
    background-color: #fcf9e8;
    .ionos_vulnerability__content{
      background-image: url('assets/security/medium.svg');
    }
  }
  &.high{
    background-color: #fcf0f1;
    .ionos_vulnerability__content{
      background-image: url('assets/security/high.svg');
    }
  }
  &.error{
    background-color: white;
    .ionos_vulnerability__content{
      background-image: none;
    }
  }

  .issue-row.high .bubble{
    background-color: #cc1818;
    color: white;
  }
  .issue-row.medium .bubble{
    background-color: #f0b849;
  }
}

@container ionos_vulnerability (max-width: 400px) {
  .ionos_vulnerability .ionos_vulnerability__content{
    background-image: none !important;
  }
}

.ionos_banner_buttons{
  display: flex;
  justify-content: flex-end;
  gap: 5px;

  a {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.sheet__section .grid .grid-col h2,
.sheet__section .grid .grid-col p,
.sheet__section .grid .grid-col a {
  margin-bottom: 8px;
}

@container ionos_buttons_same_width (max-width: 800px) {
  .ionos_buttons_same_width{
    a{
      min-width: 40%;
    }
    a:nth-child(2n) {
      margin-right: 0;
    }
    a:nth-child(3n) {
      margin-right: 12px;
    }
  }
}
@container ionos_buttons_same_width (max-width: 500px) {
  .ionos_buttons_same_width{
    a{
      width: 100%;
      margin-right: 0 !important;
    }
  }
}

.banner-logo {
  width: 100px;
  padding: 20px;
}

.page-tabbar__items {
  margin-left: 0;
}

@media (max-width: 1024px) {
  .ionos_banner_buttons{
    flex-direction: column;
    width: 200px;

    .button{
      margin-right: 0;
    }
  }

  .banner-navigation {
    width: 65%;
  }
}

@media (max-width: 992px) {
  .banner_wrapper {
    flex-direction: column;;
  }

  .content {
    width: 100%;
  }

  .ionos_banner_buttons{
    width: 100%;
  }

  .banner-navigation {
    width: 100%;
  }
}

.ionos-maintenance-only {
  display: none;
}
main.ionos-maintenance-mode .ionos-maintenance-only{
  display: inline-block;
}

.et-has-tooltip {
  display: inline-flex;
  position: relative;
  align-items: center;

  .et-tooltip-anchor {
    cursor: help;
  }
  .et-tooltip-content{
    background-color: var(--tertiary-background-color-inverted,#718095);
    border-radius: var(--small-border-radius,8px);
    box-shadow: var(--primary-shadow,0 2px 8px 0 #71809580);
    color: var(--white,#fff);
    cursor: default;
    line-height: 1.538em;
    margin-top: 18px;
    font-size: 14px;
    padding: 8px;
    opacity: 0;
    visibility: hidden;
    text-align: center;
    transition: margin-top .2s ease-out .25s,opacity .15s ease-out .25s;
    position: absolute;
    left: 40px;
    z-index: 100;
    width: 300px;
  }

  &:hover .et-tooltip-content {
    visibility: visible;
    opacity: 1;
    margin-top: 0;
  }
}

.sheet{
  overflow: visible;
}

.static-overlay__blocker, .static-overlay__container {
  display: none;
}

.static-overlay__blocker--active, .static-overlay__container--active {
  display: flex;
}
