/*

css injected into caddy admin page

*/

BODY[class*="_page_ionos-wpdev-caddy"] {
  FORM {
    DL {
      DT {
        LABEL {
          font-weight: 600;
        }
      }
      DD {
        margin-left: inherit;

        /* min height a textarea to 4 lines of text, max height to 2 lines of text */
        TEXTAREA#output {
          field-sizing: content;
          /* apply height* rules only to content of textarea */
          box-sizing: content-box;
          overflow-y: auto;
          width: calc(100% - 15px);;
          resize: none;
          min-height: 4lh;
          max-height: 20lh;
          font-family: monospace;
        }

        TEXTAREA#output.progress {
          color: rgb(34, 113, 177);
        }

        TEXTAREA#output.error {
          color: red;
        }

        TEXTAREA#output.success {
          color: inherit;
        }

      }
    }
  }

  DIALOG[open] {
    display: flex;
    flex-direction: column;

    width: 50%;
    height: 80%;

    TEXTAREA {
      overflow-y: auto;
      resize: none;
      width: 100%;
      flex-grow: 1;
      font-family: monospace;
    }
  }
}

/*

min height a textarea to 4 lines of text, max height to 10 lines of text

BODY[class*="_page_ionos-wpdev-caddy"] {
  FORM {
    TEXTAREA {
      field-sizing: content;
      // apply height* rules only to content of textarea
      box-sizing: content-box;
      overflow-y: auto;
      width: 100%;
      resize: none;
      min-height: 4lh;
      max-height: 10lh;
    }
  }
}

*/
