/* WHATS NEW SECTION */
.whats-new{
  img {
    max-width: 100px;
    height: auto;
  }
  header {
    display: flex;
    gap: 1rem;
    align-items: flex-end;
    h3 {
      margin: 0;
    }
  }
  content {

    li {
        list-style-type: none;
        padding-right: 24px;
        position: relative;
        line-height: 1.5em;
        margin-bottom: 8px;
      font-size: 14px;
    }
    li:before {
      background: var(--check-list-icon-background-color, #95caeb);
      border-radius: 50%;
      color: var(--check-list-icon-color, #003d8f);
      content: "";
      font-family: exos-icon-font, sans-serif;
      font-size: var(--default-text-size, 14px);
      height: 20px;
      line-height: 20px;
      margin-left: -28px;
      margin-top: 1px;
      position: absolute;
      text-align: center;
      width: 20px;
    }
  }
}
