.ionos-wpscan{
  margin: 28px;

  &.critical{
    border: 1px solid var(--critical-text-color,#c80a00);
  }

  &.warning{
    border: 1px solid var(--warning-text-color,#f0b849);
  }

  .settings-stripe__label{
    width: 50%;
    &::before {
      content: "\f106";
      font-family: 'dashicons';
      margin-right: 0.8em;
    }
  }

  .theme .settings-stripe__label{
    &::before {
      content: "\f100";
    }
  }

  .settings-stripe--link .settings-stripe__action{
    width: 50%;
  }

  .button{
    &.delete{
      border-color: #cc1818;
      color: #cc1818;

      &:hover{
        background-color: #cc1818;
        color: white;
      }
    }
  }

  .sheet__section{
    margin-bottom: 0;

    &:last-child{
      padding-bottom: 0;
    }
  }

  .settings-stripe{
    &:last-child{
      border-bottom-left-radius: 16px;
      border-bottom-right-radius: 16px;
    }
  }
}

.ionos-wpscan-summary{
  .issue-row{
    font-size: var(--third-level-headline-size, 16px);
  }

  .paragraph{
    padding-top: 10px;
  }
}


#plugin-information-waiting {
  background: white;
  width: 772px;
  height: 554px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 666px) {
  .ionos-wpscan .grid{
    margin-left: -8px;
    margin-right: -8px;
  }
}
