.ionos-wpscan{
  border: 1px solid var(--critical-text-color,#c80a00);;
  margin: 28px;

  .settings-stripe__label{
    &::before {
      content: "\f106";
      font-family: 'dashicons';
      margin-right: 0.8em;
    }
  }

  .theme .settings-stripe__label{
    &::before {
      content: "\f100";
    }
  }

  .default-text-color {
    color: var(--default-text-color,#001b41);
  }

}

.ionos-wpscan-summary{
  .issue-row{
    font-size: 150%;
  }
  .ionos_vulnerability__content{
    background-image: none !important;
  }
}


