:root{
  --wpblue: #2271b1;
  --white: #ffffff;
  --smoothblack: #09121C;
  --wpgrey: #f0f0f0;
  --btngrey: #5e5e5e;
  --darkgrey: #757575;
  --bordergrey: #cccccc;
}

#adminmenumain,
#wpadminbar,
#wpfooter,
#wpbody-content > .update-nag {
  display: none !important;
}

button,
input[type="submit"] {
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  height: 35px;
  background-color: var(--white);
}

a {
  text-decoration: none;
}

.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  overflow-y: auto;
  background-color: var(--wpgrey);
}

.header {
  position: fixed;
  width: 100%;
  height: 80px;
  background-color: var(--smoothblack);

  display: flex;
  align-items: center;
  z-index: +1;
  padding-left: 40px;
}

.logo {
  width: 80px;
}

.jetpack-logo {
  max-width: 300px;
  margin-right: auto;
  margin-left: auto;
  display: block;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;

  width: 800px;
  background-color: var(--white);
  border: 1px solid var(--bordergrey);
  box-sizing: border-box;

  margin: 160px auto 80px;
  padding: 50px 80px 80px;

  text-align: center;
}

.big {
  width: 1150px;
}

.medium {
  width: 960px;
}

.headline {
  font-weight: 310;
  font-size: 35px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.previewtext {
  width: 100%;
}

.buttons {
  width: 100%;
  margin: 15px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn {
  min-width: 125px;
  height: auto;
  padding: 10px;
  margin: 20px 0;
  border-radius: 3px;
}

.primarybtn {
  background-color: var(--wpblue);
  color: var(--white);
}

.primarybtn:hover {
  background-color: var(--wpgrey);
  color: var(--wpblue);
}

.secondarybtn {
  background-color: var(--wpgrey);
  color: var(--wpblue);
}

.secondarybtn:hover {
  color: var(--wpblue);
}

.linkbtn {
  color: var(--wpblue);
}

.usecases {
  display:-ms-grid;
  display: grid;
  -ms-grid-columns: 0fr 0fr 0fr 0fr;
  grid-template-columns: 0fr 0fr 0fr 0fr;

  width: 100%;
}

.usecase {
  display: flex;
  flex-direction: column;

  width: 110px;
  height: 95px;
  margin: 25px;
}

.usecase:hover{
  background-color: var(--wpgrey);
}

.caselabel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
}

.dashicons {
  padding-bottom: 17px;
}

input[type=radio] {
  opacity: 0;
  position: fixed;
  width: 0;
}

input[type=submit] {
  opacity: 0;
  position: fixed;
  width: 0;
}

input[type=checkbox] {
  opacity: 1;
  position: relative;
  width: 0;
}

.usecase:active {
  background-color: rgba(34, 113, 177, 0.8);
  color: var(--white);
}

.themes {
  display:-ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;

  width: 100%;
}

.theme {
  position: relative;
  width: 270px;
  height: auto;
  margin: 20px;
  box-sizing: border-box;
  border: 1px solid var(--bordergrey);
}

.overlay {
  display: none;
  position: absolute;
  width: 100%;
  height: 80%;
  top: 0px;
  left: 0px;
  justify-content: center;
  align-items: center;
}

.details {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 175px;
  height: 50px;

  background-color: rgba(94, 94, 94, 0.8);
  color: var(--white);
  font-weight: 500;
}

.selection {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: -5px;
  left: -5px;
}

.themebtn:checked + .themelabel {
  border: 0px;
}

.theme:hover .overlay{
  display: flex;
  background-color: rgba(240, 240, 240, 0.4);
}

.theme:active .selection {
  display: block;
  border: 5px solid var(--wpblue);
}

.themebtn:checked + label > .submit {
  display: block;
}

.themeimage {
  width: 100%;
  height: auto;
  border-bottom: 1px solid var(--bordergrey);
}

.themename {
  display: inline-flex;
  align-items: center;
  width: 100%;
  height: 100%;
  text-align: left;
  box-sizing: border-box;

  padding-left: 18px;
}

.previewimg {
  width: 520px;
  height: 390px;
  border: 1px solid var(--bordergrey);

  margin-bottom: 25px;
}

.dashicons-search, .dashicons-edit {
  margin-right: 10px;
  color: #000000;
}

.fixtopmargin {
  margin-top: 20px;
}

.pluginsgrid {
  display:-ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  row-gap: 20px;
  column-gap: 20px;
  width: 100%;
}

.toggle {
  display: flex;
  position: relative;
  border: 1px solid var(--bordergrey);
  padding: 20px;
}

.toggle:before{
  content: "";
  width: 40px;
  height: 21px;
  border-radius: 100px;
  cursor: pointer;
  background: var(--white);
  align-self: flex-start;
  display: flex;
  position: absolute;
  top: 10px;  align-items: center;
  right: 10px;
  transition: all 0.5s;
  border: 1px solid var(--bordergrey);
}

.toggle:after {
  content: "";
  display: block;
  background: var(--smoothblack);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: absolute;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  top: 14px;
  right: 33px;
}

.toggle-input {
  display: none !important;
}

.toggle-input:checked + .toggle:before {
  border-color: var(--wpblue);
  background: var(--wpblue);
}

.toggle-input:checked + .toggle:after {
  background: var(--white);
  right: 14px;
}

.toggle-input:checked + .toggle {
  border: 1px solid var(--wpblue);
}

.pluginimg {
  width: 128px;
  height: 128px;
}

.plugintext {
  flex: 1;
  text-align: left;
  margin: 0 30px 0 20px;
}

.plugin {
  display: flex;
  border: 1px solid var(--bordergrey);
  box-sizing: border-box;
  padding: 20px;
}

.text:after{
  content: " | ";
  color: var(--darkgrey);
  margin: 0 10px;
}

.text:last-of-type:after{
  content: "";
}

.pluginslist {
  margin-bottom: 20px;
}

.completed {
  margin: auto;
}

.loading {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 20px auto;
}

.loading:before, .loading::after {
  content: "";
  position: absolute;
  border-radius: inherit;
}

.loading:before {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: linear-gradient(0deg, var(--wpgrey) 0%, var(--wpblue) 100%);
  animation: spin .5s infinite linear;
}

.loading:after {
  width: 85%;
  height: 85%;
  background: var(--white);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes spin {
  to {
  transform: rotate(360deg);
  }
}

.abortplugins {
  border: 1px solid var(--bordergrey);
  text-align: left;
}

.abortplugin {
  display: flex;
  width: auto;
  min-height: 70px;
  padding: 15px;
  border-bottom: 1px solid var(--bordergrey);
  background-color: transparent;
}

.abortplugin input[type=checkbox] {
  margin: 0;
  width: 25px;
  height: 25px;
  margin-right: 20px;
}

.abortplugin > label {
  position: relative;
}

.abortplugin input[type=checkbox]:checked::before {
  content: url(data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%2020%2020%27%3E%3Cpath%20d%3D%27M14.83%204.89l1.34.94-5.81%208.38H9.02L5.78%209.67l1.34-1.25%202.57%202.4z%27%20fill%3D%27%233582c4%27%2F%3E%3C%2Fsvg%3E);
  margin: 0;
  height: 100%;
  width: 100%;
}

.abortplugin:last-of-type {
  border-bottom: 0;
}

.abortplugincontent {
  display: flex;
  justify-content: space-between;
  position: relative;

}

.abortplugincontent > span:first-child {
  min-width: 250px;
  width: 250px;
}

.abortplugintext {
  width: 440px;
}

.plugininfo {
  margin-top: 10px;
  color: var(--bordergrey)
}

.plugininfo span:first-child:after {
  content: " | ";
  color: var(--darkgrey);
  margin: 0 10px;
}

.abortsummaryimg {
  width: 400px;
  height: 100%;
}

