@font-face {
  font-display: swap;
  font-family: OpenSansRegular;
  src: url(https://ce1.uicdn.net/exos/fonts/open-sans/opensans-regular.woff2) format("woff2"), url(https://ce1.uicdn.net/exos/fonts/open-sans/opensans-regular.woff) format("woff")
}

@font-face {
  font-display: swap;
  font-family: OpenSansSemibold;
  src: url(https://ce1.uicdn.net/exos/fonts/open-sans/opensans-semibold.woff2) format("woff2"), url(https://ce1.uicdn.net/exos/fonts/open-sans/opensans-semibold.woff) format("woff")
}

.ionos_dashboard-template .wp-site-blocks * {
  font-family: OpenSansSemibold, sans-serif !important;
}

.ionos_dashboard-template .wp-site-blocks p, .ionos_dashboard-template .wp-site-blocks li {
  font-family: OpenSansRegular, sans-serif !important;
}

.ionos_dashboard-template .wp-site-blocks .banner-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 0 !important;
  flex-direction: column;
  overflow: auto;
  margin-bottom: 10px !important;

  .button {
    min-width: 200px !important;
    max-width: 300px !important;

    margin: 0 10px !important;

    a {
      width:100% !important;
      outline: none;
    }

    .startai, .retryai {
      margin-bottom: 10px;
      color: #e480f8;
      border-color: #e480f8 !important;
      background-color: #fff;

      &:hover {
        color: #fff !important;
        border-color: #f0b7fb !important;
        background-color: #f0b7fb !important;
      }
    }
    .retryai::before {
      content: "";
      font-family: exos-icon-font;
      float: left;
    }

    .deeplink {
      margin-bottom: 10px;
      background-color: #fff;
      color: #0b2a63;

      &:hover {
        background-color: #0b2a63 !important;
        border-color: #0b2a63 !important;
        color: #fff !important;
      }
    }
  }

  @media only screen and (max-width: 620px) {
    margin-bottom: 10px !important;
  }

  @media only screen and (min-width: 1000px) {
    flex-direction: row;

    .startai, .retryai {
      margin-bottom: 0px;
    }

    .deeplink {
      margin-bottom: 0px;
    }
  }
}
