#
# this is a shared workflow that is used by other workflows
#
# its primary purpose is to build and push the devcontainer.
# it returns the image name
#
# @see ./release.yaml for how it is used
#
name: DevContainer
on:
  workflow_call:
    # secrets:
    #   GITHUB_TOKEN:
    #     required: true

    # map the workflow outputs to job outputs
    outputs:
      image_name:
        value: ${{ jobs.build.outputs.image_name }}

permissions:
  # write-all is too much, but we need to write to packages
  # see https://github.com/orgs/community/discussions/57724 for more info
  contents: read
  packages: write

jobs:
  build:
    runs-on: ubuntu-latest
    outputs:
      image_name: ${{ steps.image_name.outputs.image_name }}
    steps:
      - name: checkout branch from git
        uses: actions/checkout@v6

      - uses: ./.github/shared/actions/devcontainer-image-name
        id: image_name

      - name: Login to GitHub Container Registry
        # devcontainer step that builds and pushes to registry is only needed for main and develop
        if: ${{ github.ref == 'refs/heads/main' || github.ref == 'refs/heads/develop' }}
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build dev container and push to GitHub Container Registry
        uses: devcontainers/ci@v0.3
        if: ${{ github.ref == 'refs/heads/main' || github.ref == 'refs/heads/develop' }}
        with:
          imageName: ${{ steps.image_name.outputs.image_name }}
          runCmd: |
            php --version
            git --version
            composer --version
            echo "pnpm version: $(pnpm --version)"
            echo "node --version: $(node --version)"
            gh --version
