#
# this is the release workflow that is triggered by a pull requests to the main branch
#
# it will react to
# - created pull requests
# - pull request reviews
# - pull_request_review_comments
#
name: 'pull-request'

on:
  - pull_request_target
  - pull_request_review
  - pull_request_review_comment

jobs:
  post-pr_created:
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, 'skip release')"
    steps:
      - name: Dump GitHub context
        env:
          GITHUB_CONTEXT: ${{ toJson(github) }}
        run: echo "$GITHUB_CONTEXT"
      - name: Dump job context
        env:
          JOB_CONTEXT: ${{ toJson(job) }}
        run: echo "$JOB_CONTEXT"
      - name: Dump steps context
        env:
          STEPS_CONTEXT: ${{ toJson(steps) }}
        run: echo "$STEPS_CONTEXT"
      - name: Dump runner context
        env:
          RUNNER_CONTEXT: ${{ toJson(runner) }}
        run: echo "$RUNNER_CONTEXT"
      - name: Dump strategy context
        env:
          STRATEGY_CONTEXT: ${{ toJson(strategy) }}
        run: echo "$STRATEGY_CONTEXT"
      - name: Dump matrix context
        env:
          MATRIX_CONTEXT: ${{ toJson(matrix) }}
        run: echo "$MATRIX_CONTEXT"

      - name: Show default environment variables
        run: |
          echo "The job_id is: $GITHUB_JOB"   # reference the default environment variables
          echo "The id of this action is: $GITHUB_ACTION"   # reference the default environment variables
          echo "The run id is: $GITHUB_RUN_ID"
          echo "The GitHub Actor's username is: $GITHUB_ACTOR"
          echo "GitHub SHA: $GITHUB_SHA"

      - name: post to google chat
        # if: ${{ github.event_name == 'pull_request' }}
        run: |
          curl -X POST \
            -H 'Content-Type: application/json' \
            -d '{"text": "[TEST] ${{ github.event_name }} : ${{ github.triggering_actor }} did a pull request action' \
            '${{ secrets.GOOGLECHAT_WPDEV_MERGE_REQUESTS_WEBHOOK }}'
